.rings {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    opacity: .5;
}

.core-rings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 2px;
}

.ring-1 {
    position: absolute;
    right: -630px;
    bottom: -600px;
    width: 2000px;
    height: 2000px;
    div {
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

.ring-1-p1 {
    -webkit-animation: ring-1-p1 60s infinite linear;
    animation: ring-1-p1 60s infinite linear;
}

.ring-1-p2 {
    -webkit-animation: ring-1-p2 10s infinite linear;
    animation: ring-1-p2 20s infinite linear;
}

.ring-1-p3 {
    -webkit-animation: ring-1-p3 10s infinite linear;
    animation: ring-1-p3 20s infinite linear;
}

.ring-2 {
    position: absolute;
    right: -630px;
    bottom: -600px;
    width: 2000px;
    height: 2000px;
    div {
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

.ring-2-p1 {
    -webkit-animation: ring-1-p1 120s infinite linear;
    animation: ring-1-p1 120s infinite linear;
}

//Ring 1
@-webkit-keyframes ring-1-p1 {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@keyframes ring-1-p1 {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes ring-1-p2 {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    30% {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

@keyframes ring-1-p2 {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    30% {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes ring-1-p3 {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    30% {
        transform: rotate(-110deg);
        -webkit-transform: rotate(-110deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

@keyframes ring-1-p3 {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    30% {
        transform: rotate(-110deg);
        -webkit-transform: rotate(-110deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}
