$dark-blue-1:#1B2B44;
$dark-blue-light:#DCE7F5;
$orange:#ECA27F;
$orange-dark:#E58354;
$purple-light:#8090E7;
$purple-dark:#6374D6;

$p-link-hover:$orange;
$p-link:$purple-dark;
$sub-text-color: #546A8C;



$content-box-shadow: 2px 4px 32px 0px rgba(0, 0, 0, 0.08);
