body.portfolio {
  color:$dark-blue-1;
}


.portfolio {
  .shirkhand {
    font-family: 'Shrikhand', cursive;
  }

  p, .default-type {
    font-size:18px;
    line-height: 28px;
  }
  .content-area ul {
    font-size: 18px;
    margin: 8px 0 16px 0;
  }
  a {
    color:$p-link;
    &:hover {
      color:$p-link;
      background-image: linear-gradient(rgba(0, 0, 0, 0) 80%, $p-link-hover 80%, $p-link-hover 99%,rgba(0, 0, 0, 0) 99%)
    }
    svg {
      fill:$p-link;
    }
  }
  h2 {
    font-weight: 600;
    margin-bottom: 16px;
  }
  .quote {
    font-size:32px;
    line-height: 40px;
    font-weight: 600;
    font-style: italic;
    color:$orange-dark;
    margin-top: 32px;
  }
  .sub-quote {
    color:$sub-text-color;
    margin-bottom:32px;
  }
}
