
.hide {
  display: none;
}
.portfolio {
  background-color: #eef6fc;
  background-image: linear-gradient(90deg, #eef6fc 0%, #fafcff 100%);
  &:after {
    content: "";
    z-index: -2;
    position: fixed;
    top: 0;
    width: 33vw;
    height: 100%;
    //background-color: #DCE7F5;
    background-image: url(../images/giggle-background.png);
    background-size: 240px 480px;
    background-repeat: repeat;
    opacity: .8;
  }
  &:before {
    content: "";
    z-index: -2;
    position: fixed;
    top: 0;
    width: 33vw;
    height: 100%;
    //background-color: #DCE7F5;
    background-color: #8090e7;
    background-image: linear-gradient(12deg, #8090e7 0%, #98ccf5 100%);

  }
  .page {
    // padding-top:calc(50vh - 212px);
  }


  //Page Layout
  .page-frame {
    position: fixed;
    top:0;
    border:solid 32px $dark-blue-1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

  }

  .menu-btn {
    display: none;
    position: fixed;
    z-index: 101;
    bottom:24px;
    right:24px;
    background-color:#546A8C;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    @extend .box-shadow-3;
    .svgicon {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 32px;
      svg {
        fill:$dark-blue-light;
      }
    }
  }

  .splash-nav {
    position: fixed;
    top:0;
    background-color: $dark-blue-1;
    z-index: 102;
    width: 100vw;
    height: 100vh;
    padding: 48px;
    a {
      display: block;
      font-size: 32px;
      line-height: 64px;
      color:$purple-light;
      &:hover {
        color:$purple-light;
        background-image: none;
      }
    }
  }
  nav {
    z-index: 1;
    position: fixed;
    top:calc(50vh - 84px); //center this when finished
    left:calc(50vw + 488px);

    .nav-items {
        a {
          display: block;
          font-size: 12px;
          line-height: 4px;
          font-weight: 600;
          padding:10px 0;
          color:transparent;
          &:hover {
            //color:$dark-blue-1;
            background-image: none;
          }
          &::before {
            content:"";
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
            width:16px;
            height: 1px;
            background-color:$dark-blue-1;
            transition: all .15s ease-out;
          }
          &:hover {
            color:$purple-dark;
            &::before {
              width:24px;
              height: 2px;
              background-color:$purple-dark;
              transition: all .15s ease-out;
            }
          }
        }
      &:not(:hover) a.active {
        color:$purple-dark;
        &::before {
          width:24px;
          height: 2px;
          background-color:$purple-dark;
          transition: all .15s ease-out;
        }
      }
    }
  }
  .section-block {
    //margin-top:96px;
  }
  .section-spacer {
    width:96px;
    height: 96px;
  }
  section.content {
    // margin-left:15%;
    // max-width:736px;
    margin-left:auto;
    margin-right:auto;
    max-width: 960px;
    padding:48px;
    background-color: white;
    -webkit-box-shadow: $content-box-shadow;
    -moz-box-shadow: $content-box-shadow;
    box-shadow: $content-box-shadow;
    border-radius: 0 0 4px 4px;
  }
  section.section-head {
    z-index: 100;
    color:$dark-blue-light;
    background-color: $dark-blue-1;
    position: relative;
    padding:48px 0;
    margin-left:auto;
    margin-right:auto;
    max-width:calc(960px + 32px);
    left:-16px;
    -webkit-box-shadow: $content-box-shadow;
    -moz-box-shadow: $content-box-shadow;
    box-shadow: $content-box-shadow;
    border-radius: 4px 4px 0 4px;
    .section-head-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 960px;
      // margin-left:15%;
      padding-left:48px;
      .subtitle {
        font-size: 18px;
      }
    }
    .shirkhand {
      font-size: 72px;
      line-height: 56px;
    }
    i {
      font-size: 32px;
      line-height: 40px;
    }
  }
  .content-area {
    position: relative;
    // margin-top:calc(50vh - 212px);

    margin-bottom: calc(100vh - 680px);
    // pointer-events: none;
  }
  #hello {
    height: 100vh;
  }
  .content-first {
    //margin-top: calc(50vh - 211px); //+1px h
    top: 50%;
    transform: translateY(-50%);
  }
  .welcome {
    // position: absolute;
    // top:-168px;
    h1 {
      font-size:72px;
      line-height: 72px;
    }
    i {
      font-size: 48px;
      line-height: 56px;

    }
  }
  .draw-box {
    //border:solid gold 1px;
    height: calc(50vh - 212px);
  }
  img.selp-image {
    max-width: 460px;
    border:solid 4px $purple-light;
  }


}
.img-wrap {
  margin:16px 0;
  .img-handler {
    width:100%;
  }
  .img-subtitle {
    color:$sub-text-color;
  }
}
.social-icons {
  font-size:24px;
  .col {
    position: relative;
  }
  a {
    padding:0 8px;
    &:after {
      content:"";
      position: absolute;
      z-index: -1;
      bottom:-4px;
      left: 50%;
      transform: translateX(-50%);
      width:1px;
      height: 4px;
    }
    &:hover {
      &:after {
        content:"";
        position: absolute;
        z-index: -1;
        bottom:-4px;
        left: 50%;
        transform: translateX(-50%);
        width:32px;
        height: 4px;
        background-color:$p-link-hover;
        transition: all .15s ease-out;
      }
    }
  }
}
#projects .social-icons {
  position: absolute;
  right:16px;
  bottom:-64px;
}
#projects {
  margin-bottom:96px;
}
.projectimg {
  position: relative;
  img {
    outline:solid 2px $purple-dark;
  }
  .img-overlay {
    position: relative;
  }
  &:hover .img-overlay {
    // outline:solid 2px $p-link-hover;
    // transition: all .15s ease-out;
    &::before {
      content:"";
      z-index: 1;
      position: absolute;
      top: 0;
      width:100%;
      height: calc(100% - 7px);
      background-color: $dark-blue-1;
      opacity: .2;
    }
    &::after {
      content:"Visit Site";
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      border:solid 2px $purple-dark;
      padding:8px 16px;
    }
  }
}
