$dark-blue-1:#1B2B44;
$dark-blue-light:#DCE7F5;
$orange:#ECA27F;
$orange-dark:#E58354;

$p-link-hover:$orange;
$p-link:#6374D6;
$sub-text-color: #546A8C;



$content-box-shadow: 2px 4px 32px 0px rgba(0, 0, 0, 0.05);
