@media only screen and (max-width: 1180px) {
  .portfolio {
    nav {
      left:calc(100vw - 136px);
    }

    section.content {
      margin-left:56px;
      margin-right:144px;
    }
    section.section-head {
      margin-left: 56px;
      margin-right: 136px;
      left:-8px;
    }
  }
}

@media only screen and (max-width: 560px) {
  .portfolio {
    &:before, &:after {
      width: 100%;
    }
    .draw-box {
      height: 32px;
    }
    .menu-btn {
      display: initial;
    }
    nav {
      display: none;
    }
    .content-area {
      margin-bottom: 120px;
    }
    .social-icons {
      display: none;
    }
    p, .default-type {
      font-size:16px;
      line-height: 24px;
    }
    .content-area ul {
      font-size: 16px;
    }
    .page-frame {
      border-width: 0px;
    }
    .welcome {
      h1 {
        font-size:40px;
        line-height: 1;
      }
      i {
        font-size: 32px;
        line-height: 40px;
      }
    }
    section.content {
      margin-left:16px;
      margin-right:16px;
      padding:32px;
    }
    section.section-head {
      margin-left:16px;
      margin-right: 8px;
      .section-head-content {
        margin-left:16px;
        margin-right:16px;
        padding-left:20px;
      }
      .shirkhand {
        font-size: 40px;
        line-height: 48px;
      }
      i {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}
