%section.section-head#career
  .section-head-content
    %h2.shirkhand Career Path
    .subtitle 7+ years • Creative
%section.content
  %h2 Envision Art Program
  %p In high school I was lucky enough to be accepted to an after school arts program where I got hands on experience with professional cameras, computers, and art supplies from local artists. I learned how to step in and out of different styles and be mindful to not box myself in.
  .quote{:style => "font-size:30px;"} "You shouldn't have a 'style' until you're a 65 year old master."
  .sub-quote Rachel Edwards, Art Teacher
  .grid
    .col.col-sm
      .img-wrap.mbn
        %img.img-handler{:src => "images/portfolio/career/art-1.png"}
    .col.col-sm
      .img-wrap
        %img.img-handler{:src => "images/portfolio/career/art-2.png"}
  %h2 Ephemeral Clothing (2009 - 2013)
  %p From high school into college I was running my own t-shirt business. Basically an excuse to put my weird artwork onto shirts and make a few dollars. This was the start of understanding SEO and ecommerce.
  .grid
    .col.col-sm
      .img-wrap.mbn
        %img.img-handler{:src => "images/portfolio/career/ephemeral-1.png"}
    .col.col-sm
      .img-wrap.mbn
        %img.img-handler{:src => "images/portfolio/career/ephemeral-2.png"}
    .col.col-sm
      .img-wrap
        %img.img-handler{:src => "images/portfolio/career/ephemeral-3.png"}
  %h2 Freelance and Odd Jobs (2009 - 2016)
  %ul
    %li Gordon Moss - Real estate guru I helped get to the #1 position on Google for his niche
    %li Maniacal - Sports and lifestyle clothing brand. Expanded my knowledge of clothing and ecommerce
    %li Bruce Farnsworth - Photography and wildlife conservation website
    %li Automatic Magazine - Random graphics for a local skate magazine
    %li GCAS - 3D models of the inside of Nimitz class aircraft carriers. This work ended up getting classified by the U.S. Navy so I have nothing to show for it
    %li Tile - Freelance marketing graphics, email design and development
  %h2 JEO (2012 - 2015)
  %p These folks showed me what it looks like to run a business from a place of integrity and how to motivate a team by building people up. I helped JEO rebuild their website and corporate branding around their message of “It’s all about the people”. Produced 7 videos, brand guidelines, full website, and new tools for recruiting in the first 10 weeks of my summer internship. Stayed on as a consultant doing intermittent work and helping them build their team over the next few years.
  .quote{:style => "font-size:30px;"} "It's all about the people."
  .sub-quote Rob Bringham, CEO
  .img-wrap.txt-c
    %img.img-handler{:src => "images/portfolio/career/jeo-home.png", :style => "max-width:580px;"}
  %h2 Automotive Workwear (2013 - 2015)
  %p Taught me how to build empathy for my users and how to develop multiple brands in the same marketspace that capture different types of customers. I maintained 4 ecommerce websites, their individual brands, and marketing campaigns. Automated a ton of that marketing and made more emails that I ever wanted to. Built and worked with a team to do the development, design, and content generation.
  .img-wrap.txt-c
    %img.img-handler{:src => "images/portfolio/career/automotive-brands.png", :style => "max-width:580px;"}
  %h2 Pivotal (2015 - 2017)
  %p
    Learned that design isn't about muscling your way into a good idea. I need to be able to extrapolate out my own thinking into repeatable processes that others can understand. Pivotal has taught me that this quest is never ending and that is okay. Don't be afraid to iterate and try new things. In case you missed it the
    %a{:href => "#product"} product,
    %a{:href => "#feature"} feature,
    and
    %a{:href => "#design-system"} design system
    sections above were all from my time at Pivotal.
  .default-type.mtxxxl
    %a{:href => "https://www.linkedin.com/in/elliotdahl/", :target => "_blank"}
      .svgicon.svg-baseline
        =partial 'images/svg-lib/chevron_right.svg'
      See the rest of the details on Linkedin
      .svgicon.svg-baseline
        =partial 'images/svg-lib/open_in_new.svg'
