%nav
  %ul
    %li
      %a.active{:href => "#hello"} Hello
    %li
      %a{:href => "#product"} Product
    %li
      %a{:href => "#feature"} Feature
    %li
      %a{:href => "#design-system"} System
    %li
      %a{:href => "#career"} Career
    %li
      %a{:href => "#projects"} Projects
