%section.section-head#projects
  .section-head-content
    %h2.shirkhand Side Projects
    .subtitle Creative challenges
%section.content
  %p Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis.
  %ul
    %li
      %a Hegemony of Space
    %li
      %a Flex Grid Lite
    %li
      %a America This Is Us
    %li
      %a Kessel Run
    %li
      %a Foldspace 
