%section.section-head#product
  .section-head-content
    %h2.shirkhand Product
    %i Pivotal Apps Manager
    .subtitle 2 years • Product Designer
%section.content
  %h2 Background
  %p Apps Manager runs on Pivotal Cloud Foundry, a cloud-native platform for deploying applications and operating modern applications. It’s the visual interface that allows developers to view and interact with their applications running on Cloud Foundry. Currently +30 companies of the Fortune 100 are running Pivotal Cloud Foundry.
  .default-type.mbl
    %a{:href => "http://run.pivotal.io/", :target => "_blank"}
      .svgicon.svg-baseline
        =partial 'images/svg-lib/chevron_right.svg'
      Explore Pivotal Web Services (Consumer facing)
      .svgicon.svg-baseline
        =partial 'images/svg-lib/open_in_new.svg'
  .default-type.mbxl
    %a{:href => "https://pivotal.io/platform", :target => "_blank"}
      .svgicon.svg-baseline
        =partial 'images/svg-lib/chevron_right.svg'
      Learn more about Pivotal Cloud Foundry (Enterprise level)
      .svgicon.svg-baseline
        =partial 'images/svg-lib/open_in_new.svg'
  .img-wrap
    %img.img-handler{:src => "images/portfolio/apps-manager-1.png"}
  %h2 My Role
  %p I am primarily the product designer working on visuals, UI/UX, research, and product direction. However, I have also played the role of PM, and engineer on the team. Empathy for my teammate's roles makes me a more effective designer.
  %h2 Challenges
  %ul
    %li Visualize the runtime of Cloud Foundry that 20+ teams contribute to
    %li Assist developers in quickly managing their applications so they can get back to writing code
    %li Make PCF the best place to run Spring Boot (Java) applications
  %h2 Outcomes
  %ul
    %li Greatly reduced load times and improved interactions for speed
    %li Only cloud platform to have first class Spring Boot integrations
    %li Removed UI to reduce confusion and show developers the information that matters at the right time
  .quote "I don't mean to curse, but this is bitchin!"
  .sub-quote Quote from usability session showcasing new Spring features
  %h2 Research, Understanding, and Prototyping
  %p We learned from continuous interactions with developers (users) the kind of environments they work in, constraints placed on them, and what success looks like for their teams. A traditional persona doesn’t capture the complexity of our users so we created the developer on the application lifecycle journey map. This allows us to stay focused on what exactly we are solving and what value it is providing in the grand scheme.
  .img-wrap
    %img.img-handler{:src => "images/portfolio/journey-map.png"}
    .img-subtitle Developer on the application lifecycle journey
  %p We are constantly using a variety of discovery and framing techniques to get to the core of what developers need to be successful. With that information we bring the team into alignment with a variety of exercises like affinity mapping, design studios, and 2x2 prioritization.
  .img-wrap
    %img.img-handler{:src => "images/portfolio/am-team-sort.jpg"}
    .img-subtitle Synthesizing with engineers from the team after a round of interviews
  %p
    To validate the solutions I will often make HTML prototypes to test with users. Most users can’t tell the difference between my prototype and the real thing. This creates really high quality feedback that is directly applicable before engineering even starts. Below are two of my prototypes from different periods:
  .default-type.mbl
    %a{:href => "http://protoappsman.cfapps.io/org.html", :target => "_blank"}
      .svgicon.svg-baseline
        =partial 'images/svg-lib/chevron_right.svg'
      Proto Apps Manager at PCF 1.9
      .svgicon.svg-baseline
        =partial 'images/svg-lib/open_in_new.svg'
  .default-type.mbxl
    %a{:href => "http://protoappsman8pt.cfapps.io/space.html", :target => "_blank"}
      .svgicon.svg-baseline
        =partial 'images/svg-lib/chevron_right.svg'
      Proto Apps Manager at PCF 1.12 (after 8pt grid integration)
      .svgicon.svg-baseline
        =partial 'images/svg-lib/open_in_new.svg'
  %p Please note that there are plenty of dead end links. Only specific flows were buffed out for testing.
  .img-wrap
    %img.img-handler{:src => "images/portfolio/apps-man-proto.png"}
    .img-subtitle Middleman static site generator deployed to PWS

  %h2 Collaboration
  %p
    When I pass off designs to engineers I try to minimize the need for red-lines. If the
    %a{:href => "#design-system"} design system
    is good enough they should only need a napkin sketch. However, some flows require a little more fidelity. These are some of the skills/tools I use regularly.
  .grid.mbn
    .col.col-sm
      .img-wrap.mbn
        %img.img-handler{:src => "images/portfolio/apps-man-wireframe.png"}
    .col
      .img-wrap.mbn
        %img.img-handler{:src => "images/portfolio/apps-man-app.png"}
  .grid.mbxl
    .col.col-sm
      .sub-quote Using the correct fidelity for the right feedback
  %ul
    %li Visuals in Sketch
    %li Simple prototypes in Invision
    %li
      Realistic
      %a HTML prototypes
      for interactions and animations
    %li Pair with engineers on front-end
    %li Pair with PM on story writing
  %h2 Key Learnings
  %ul
    %li Empathy for the role of engineering and PM on my team
    %li Collaboration methods - what process/experience is appropriate for the problem space
    %li
      Accessibility standardization up to 508a compliance and how our
      %a{:href => "#design-system"} design system
      can help
    %li Deep understanding of the CF runtime and ability to work on API construction
    %li Understanding developers (users) and their complex needs
