%section.section-head
  .section-head-content
    %h2.shirkhand Side Projects
    .subtitle Creative challenges and endeavors
%section.content
  %h2 Projects
  %ul
    %li
      %a{:href => "https://www.instagram.com/hegemony_of_space/", :target => "_blank"}
        Hegemony of Space (100 days of vector)
        .svgicon.svg-baseline
          =partial 'images/svg-lib/open_in_new.svg'
    %li
      %a{:href => "http://flexgridlite.elliotdahl.com/", :target => "_blank"}
        Flex Grid Lite
        .svgicon.svg-baseline
          =partial 'images/svg-lib/open_in_new.svg'
    %li
      %a{:href => "http://www.americathisis.us/", :target => "_blank"}
        America This Is Us
        .svgicon.svg-baseline
          =partial 'images/svg-lib/open_in_new.svg'
    %li
      %a{:href => "http://kessel.elliotdahl.com/", :target => "_blank"}
        Kessel Run
        .svgicon.svg-baseline
          =partial 'images/svg-lib/open_in_new.svg'
    %li
      %a{:href => "http://www.foldspace.co/", :target => "_blank"}
        Foldspace
        .svgicon.svg-baseline
          =partial 'images/svg-lib/open_in_new.svg'
  %h2 Blog Posts
  %ul
    %li
      %a{:href => "https://builttoadapt.io/intro-to-the-8-point-grid-system-d2573cde8632", :target => "_blank"}
        Intro to The 8-Point Grid System
        .svgicon.svg-baseline
          =partial 'images/svg-lib/open_in_new.svg'
    %li
      %a{:href => "https://builttoadapt.io/8-point-grid-borders-and-layouts-e91eb97f5091", :target => "_blank"}
        8-Point Grid: Borders and Layouts
        .svgicon.svg-baseline
          =partial 'images/svg-lib/open_in_new.svg'
    %li
      %a{:href => "https://builttoadapt.io/8-point-grid-vertical-rhythm-90d05ad95032", :target => "_blank"}
        8-Point Grid: Vertical Rhythm
        .svgicon.svg-baseline
          =partial 'images/svg-lib/open_in_new.svg'
    %li
      %a{:href => "https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4", :target => "_blank"}
        Align SVG Icons to Text and Say Goodbye to Font Icons
        .svgicon.svg-baseline
          =partial 'images/svg-lib/open_in_new.svg'
    %li
      %a{:href => "https://builttoadapt.io/letter-to-a-junior-designer-e96659725678", :target => "_blank"}
        Letter to a Junior Designer
        .svgicon.svg-baseline
          =partial 'images/svg-lib/open_in_new.svg'
  .grid.social-icons
    .col.col-fixed
      %a.no-link{:href => "https://twitter.com/elliotdahl", :target => "_blank"}
        .svgicon
          =partial 'images/custom-svg-lib/logo_twitter.svg'
    .col.col-fixed
      %a.no-link{:href => "https://instagram.com/elliotdahl", :target => "_blank"}
        .svgicon
          =partial 'images/custom-svg-lib/logo_instagram.svg'
    .col.col-fixed
      %a.no-link{:href => "https://www.linkedin.com/in/elliotdahl", :target => "_blank"}
        .svgicon
          =partial 'images/custom-svg-lib/logo_linkedin.svg'
    .col.col-fixed
      %a.no-link{:href => "https://medium.com/@Elliotdahl", :target => "_blank"}
        .svgicon
          =partial 'images/custom-svg-lib/logo_medium.svg'
