---
title: Elliot Dahl
---
//Add logo to top right corner of site.
.rings
  .core-rings
    .ring-1
      .ring-1-p1
        =partial 'images/ring-1-p1.svg'
      .ring-1-p2
        =partial 'images/ring-1-p2.svg'

    .ring-2
      .ring-2-p1
        =partial 'images/ring-2-p1.svg'
    .ring-3
      .ring-3-p1
        =partial 'images/ring-3-p1.svg'
.page.full-vh

  .card-container
    .card.card-home
      .intro-container
        .home-logo
          .svgicon
            =partial 'images/svg-lib/logo_elliot.svg'
        .intro-bg-img
          %img{:src => "images/selp-placehold.png"}
          -# %img{:src => "images/placeholder.png"}
        .intro-panel
          .grid.mbxl#intro-expand
            .col
              %h1.mbn.pan Elliot Dahl
              .type-md Artist - Designer - Futurist
            .col.col-fixed.col-align-middle
              .svgicon#intro-icon
                =partial 'images/svg-lib/chevron_up.svg'

          .type-md.mbl
            I’m a designer who dreams in
            %a{:href => "https://github.com/elliotdahl", :target => "_blank"} front-end code
            , writes about
            %a{:href => "https://medium.com/@Elliotdahl", :target => "_blank"} design systems
            , and talks about full stack UX. Designing developer experiences at
            %a{:href => "http://pivotal.io", :target => "_blank"} Pivotal Cloud Foundry.
          .type-md.mbxxl I spend the rest of my time drawing spaceships, backpacking, and reading science fiction.
          .grid
            .col.txt-c
              %button.btn.btn-default-alt-wh.btn-lg#projects Projects
            .col.txt-c
              %button.btn.btn-default-alt-wh.btn-lg#contact Contact
    .card.card-left.card-left-hidden
      .card-content
        .grid.mbn
          .col
            %h2.mbxxl Projects.
          .col.col-fixed
            .svgicon.svg-title#close-projects
              =partial 'images/svg-lib/close.svg'
        %a.card-link{:href => "http://kessel.elliotdahl.com", :target => "_blank"}
          .grid.mbn.grid-nogutter
            .col.col-fixed
              .svgicon.svg-title.prl
                =partial 'images/svg-lib/icon_kessel.svg'
            .col
              .type-title Kessel Run
              .type-md.mbxxl In less than 12 parsecs? Doubtful.
        %a.card-link
          .grid.mbn.grid-nogutter
            .col.col-fixed
              .svgicon.svg-title.prl
                =partial 'images/svg-lib/icon_solar.svg'
            .col
              .type-title
                Solar System
                %span.tag Coming Soon
              .type-md.mbxxl A css modeling of our planets.
        %a.card-link
          .grid.mbn.grid-nogutter
            .col.col-fixed
              .svgicon.svg-title.prl
                =partial 'images/svg-lib/icon_8gauge.svg'
            .col
              .type-title
                8 Gauge
                %span.tag Coming Soon
              .type-md.mbxxl The 8pt CSS Framework.
        %a.card-link
          .grid.mbn.grid-nogutter
            .col.col-fixed
              .svgicon.svg-title.prl
                =partial 'images/svg-lib/icon_webweaver.svg'
            .col
              .type-title
                Web Weaver
                %span.tag Coming Soon
              .type-md.mbxxl Crafting your digital experience.
        %a.card-link{:href => "http://foldspace.co", :target => "_blank"}
          .grid.mbn.grid-nogutter
            .col.col-fixed
              .svgicon.svg-title.prl
                =partial 'images/svg-lib/icon_foldspace.svg'
            .col
              .type-title Foldspace
              .type-md.mbl 3D printed jewelry.




    .card.card-right.card-right-hidden
      .card-content
        .grid.mbn
          .col
            %h2 Get in touch.
          .col.col-fixed
            .svgicon.svg-title#close-contact
              =partial 'images/svg-lib/close.svg'
        .type-md.mbxxl I like to talk about spaceships, creative ventures, and take bets on whether or not I can animate stuff with CSS (I probably can).
        %a.card-link{:href => "https://twitter.com/elliotdahl", :target => "_blank"}
          .grid.mbn.grid-nogutter
            .col.col-fixed
              .svgicon.svg-title.prl
                =partial 'images/svg-lib/logo_twitter.svg'
            .col
              .type-title Twitter
              .type-md.mbxxl Occasionally clever. Mostly pictures.
        %a.card-link{:href => "https://instagram.com/elliotdahl", :target => "_blank"}
          .grid.mbn.grid-nogutter
            .col.col-fixed
              .svgicon.svg-title.prl
                =partial 'images/svg-lib/logo_instagram.svg'
            .col
              .type-title Instagram
              .type-md.mbxxl Dump of sketches and big ideas.
        %a.card-link{:href => "https://www.linkedin.com/in/elliotdahl", :target => "_blank"}
          .grid.mbn.grid-nogutter
            .col.col-fixed
              .svgicon.svg-title.prl
                =partial 'images/svg-lib/logo_linkedin.svg'
            .col
              .type-title Linkedin
              .type-md.mbxxl Because I'm professional.
        %a.card-link{:href => "https://medium.com/@Elliotdahl", :target => "_blank"}
          .grid.mbn.grid-nogutter
            .col.col-fixed
              .svgicon.svg-title.prl
                =partial 'images/svg-lib/logo_medium.svg'
            .col
              .type-title Medium
              .type-md.mbl I can read and write too.
        -# %a.card-link{:href => "http://twitter.com/elliotdahl", :target => "_blank"}
        -#   .grid.mbn.grid-nogutter
        -#     .col.col-fixed
        -#       .svgicon.svg-title.prl
        -#         =partial 'images/svg-lib/logo_dribble.svg'
        -#     .col
        -#       .type-title Dribbble
        -#       .type-md.mbl Design bits and pixels. Probably out of date.


//Google Analytics In Footer
-# =partial 'shared/footer'
