---
title: Elliot Dahl
---

.page.full-vh
  .rings
    .core-rings
      .ring-1
        .ring-1-p1
          =partial 'images/ring-1-p1-05.svg'
        .ring-1-p2
          =partial 'images/ring-1-p2-06.svg'
        -# .ring-1-p3.hide
        -#   =partial 'images/ring-1-p3-07.svg'
      .ring-2
        .ring-2-p1
          =partial 'images/ring-2-p1-05.svg'
  .card-container
    .card.card-home
      .intro-container
        .intro-bg-img
          %img{:src => "images/selp-placehold.png"}
        .intro-panel
          .grid.mbxl#intro-expand
            .col
              %h1.mbn.pan Elliot Dahl
              .type-lg Artist - Designer - Futurist
            .col.col-fixed.col-align-middle
              .svgicon#intro-icon
                =partial 'images/svg-lib/chevron_up.svg'

          .type-lg.mbxxl I am a designer with a wide range of skills that allow me to solve complex problems. When I'm not designing you can catch me doodling tiny spaceships, reading science fiction books, making 3D printed jewelry or playing around with my camera.
          .grid
            .col.txt-c
              %button.btn.btn-default-alt-wh.btn-lg#projects Projects
            .col.txt-c
              %button.btn.btn-default-alt-wh.btn-lg#contact Contact
    .card.card-left.card-left-hidden
      .card-content
        .grid.mbn
          .col
            %h2.mbxxl Projects.
          .col.col-fixed
            .svgicon.type-title#close-projects
              =partial 'images/svg-lib/close.svg'
        .grid.mbn.grid-nogutter
          .col.col-fixed
            .svgicon.type-title.ptm.prl
              =partial 'images/svg-lib/info_outline.svg'
          .col
            .type-title Kessel Run
            .type-lg.mbxxl In less than 12 parsecs? Doubtful.
        .grid.mbn.grid-nogutter
          .col.col-fixed
            .svgicon.type-title.ptm.prl
              =partial 'images/svg-lib/info_outline.svg'
          .col
            .type-title Solar System
            .type-lg.mbxxl A css modeling of our planets.
        .grid.mbn.grid-nogutter
          .col.col-fixed
            .svgicon.type-title.ptm.prl
              =partial 'images/svg-lib/info_outline.svg'
          .col
            .type-title 8 Gauge 
            .type-lg.mbxxl The 8pt CSS Framework.
        .grid.mbn.grid-nogutter
          .col.col-fixed
            .svgicon.type-title.ptm.prl
              =partial 'images/svg-lib/info_outline.svg'
          .col
            .type-title Web Weaver
            .type-lg.mbxxl Crafting your digital experience.
        .grid.mbn.grid-nogutter
          .col.col-fixed
            .svgicon.type-title.ptm.prl
              =partial 'images/svg-lib/info_outline.svg'
          .col
            .type-title Foldspace
            .type-lg.mbxxl 3D printed jewelry.

    .card.card-right.card-right-hidden
      .card-content
        .grid.mbn
          .col
            %h2.mbxxl Get in touch.
          .col.col-fixed
            .svgicon.type-title#close-contact
              =partial 'images/svg-lib/close.svg'
        .type-lg.mbxxl I like to talk about spaceships, creativity, new ventures, and whether or not I can animate it with CSS (I can). 
        .grid.mbn.grid-nogutter
          .col.col-fixed
            .svgicon.type-title.ptm.prl
              =partial 'images/svg-lib/close.svg'
          .col
            .type-title Twitter
            .type-lg.mbxxl Occasially clever. Mostly pictures.
        .grid.mbn.grid-nogutter
          .col.col-fixed
            .svgicon.type-title.ptm.prl
              =partial 'images/svg-lib/close.svg'
          .col
            .type-title Instagram
            .type-lg.mbxxl Dump of sketches and big ideas.
        .grid.mbn.grid-nogutter
          .col.col-fixed
            .svgicon.type-title.ptm.prl
              =partial 'images/svg-lib/close.svg'
          .col
            .type-title Linkedin
            .type-lg.mbxxl Because I'm professional.
        .grid.mbn.grid-nogutter
          .col.col-fixed
            .svgicon.type-title.ptm.prl
              =partial 'images/svg-lib/close.svg'
          .col
            .type-title Medium
            .type-lg.mbxxl I can read and write too.
        .grid.mbn.grid-nogutter
          .col.col-fixed
            .svgicon.type-title.ptm.prl
              =partial 'images/svg-lib/close.svg'
          .col
            .type-title Dribbble
            .type-lg.mbxxl Design bits and pixels. Out of date.
