---
title: Elliot Dahl
---

.page.full-vh
  .card-container
    .card.card-home
      .intro-panel.card-content
        %h1.mbn.pan Elliot Dahl
        .type-lg.mbxxl Artist - Designer - Futurist
        .type-lg.mbxl I am a designer with a wide range of skills that allow me to solve complex problems. When I'm not designing you can catch me doodling tiny spaceships, reading science fiction books, making 3D printed jewelry or playing around with my camera.
        .grid.mbn
          .col
            %button.btn.btn-default Left
          .col
            %button.btn.btn-default Right
      .card.card-left
        .card-content
          %h2.mbxxxl Projects.
          .type-title Kessel Run
          .type-lg.mbxxl In less than 12 parsecs? Doubtful.
          .type-title Solar System
          .type-lg.mbxxl A css modeling of our planets.
          .type-title 8 Gauge 
          .type-lg.mbxxl CSS Framework based on the 8pt system.
          .type-title Web Weaver
          .type-lg.mbxxl Crafting your digital experience.
          .type-title Foldspace
          .type-lg.mbxxl 3D printed jewelry.

      .card.card-right
        .card-content
          %h2.mbxxxl Get in touch.
          .type-lg.mbxxl I like to talk about spaceships, creativity, new ventures, and whether or not I can animate it with CSS (I can). 
          .type-title Twitter
          .type-lg.mbxxl Occasially clever. Mostly pictures.
          .type-title Instagram
          .type-lg.mbxxl Dump of sketches and big ideas.
          .type-title Linkedin
          .type-lg.mbxxl Because I'm professional.
          .type-title Medium
          .type-lg.mbxxl I can read and write too.
          .type-title Dribbble
          .type-lg.mbxxl Design bits and pixels. Out of date.
