---
layout: "nofollow-layout"
title: Elliot Dahl
---

.page
  .page-frame
  -# .nav-wrapper
  -#   .nav-title.em-high Portfolio
  -#   %ul.list-unstyled
  -#     %li
  -#       %a{:href => "#product"} Product
  -#     %li
  -#       %a{:href => "#feature"} Feature
  -#     %li
  -#       %a{:href => "#design-system"} Design System
  -#   .nav-title.mtxl.em-high About Me
  -#   %ul.list-unstyled
  -#     %li
  -#       %a{:href => "#career"} My Career Path
  -#     %li
  -#       %a{:href => "#writing"} Writing
  -#     %li
  -#       %a{:href => "#projects"} Side Projects
  -#     %li
  -#       %a{:href => "#connections"} Connections
  .content-area

    %section.content
      .welcome
        %i Hello,
        %h1.shirkhand I'm Elliot
      %p
        I dream in
        = link_to("front-end code", "https://github.com/elliotdahl", target: '_blank') + ","
        obsess over
        = link_to("design systems", "https://medium.com/@Elliotdahl", target: '_blank') + ","
        and advocate for end-to-end UX. Currently designing developer experiences at
        = link_to("Pivotal Cloud Foundry", "http://pivotal.io", target: '_blank') + "."
        I spend the rest of my time drawing spaceships, backpacking Northern California, and reading science fiction.
      %p This portfolio will explain a little bit about my design style and what I'm into. Please click some of these links below to get a better picture.
      .grid
        .col.col-md
          %h2 Portfolio
          %ul
            %li
              %a{:href => "#product"} Product
            %li
              %a{:href => "#feature"} Feature
            %li
              %a{:href => "#design-system"} Design System
          %h2 About Me
          %ul
            %li
              %a{:href => "career"} My Career Path

        .col.col-md
          %h2 Side Projects
          %ul
            %li
              %a{:href => "https://www.instagram.com/hegemony_of_space/", :target => "_blank"}
                Hegemony of Space
                .svgicon.svg-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
            %li
              %a{:href => "http://flexgridlite.elliotdahl.com/", :target => "_blank"}
                Flex Grid Lite
                .svgicon.svg-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
            %li
              %a{:href => "http://www.americathisis.us/", :target => "_blank"}
                America This Is Us
                .svgicon.svg-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
            %li
              %a{:href => "http://kessel.elliotdahl.com/", :target => "_blank"}
                Kessel Run
                .svgicon.svg-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
            %li
              %a{:href => "http://www.foldspace.co/", :target => "_blank"}
                Foldspace
                .svgicon.svg-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
        .col.col-md
          %h2 Blog Posts
          %ul
            %li
              %a{:href => "https://builttoadapt.io/intro-to-the-8-point-grid-system-d2573cde8632", :target => "_blank"}
                Intro to The 8-Point Grid System
                .svgicon.svg-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
            %li
              %a{:href => "https://builttoadapt.io/8-point-grid-borders-and-layouts-e91eb97f5091", :target => "_blank"}
                8-Point Grid: Borders and Layouts
                .svgicon.svg-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
            %li
              %a{:href => "https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4", :target => "_blank"}
                Align SVG Icons to Text and Say Goodbye to Font Icons
                .svgicon.svg-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
    .draw-box Draw Box
    =partial 'shared/product'
    =partial 'shared/feature'
    =partial 'shared/design-system'
    =partial 'shared/career'
    =partial 'shared/projects'




  -# %section.md-col
  -#   %img.img-width{:src => "images/portfolio/apps-manager-1.png"}

//Google Analytics In Footer
=partial 'shared/footer'
