---
layout: "nofollow-layout"
title: Elliot Dahl
---

.page
  .page-frame
  .content-area
    .welcome
      %i Hello,
      %h1.shirkhand I'm Elliot
    %section.sm-col
      %p
        I dream in
        = link_to("front-end code", "https://github.com/elliotdahl", target: '_blank') + ","
        obsess over
        = link_to("design systems", "https://medium.com/@Elliotdahl", target: '_blank') + ","
        and advocate for full stack UX. Currently creating developer experiences at
        = link_to("Pivotal Cloud Foundry", "http://pivotal.io", target: '_blank') + "."

      %p I spend the rest of my time drawing spaceships, backpacking, and reading science fiction.
    %section.sm-col
      %h3.em-high Case Studies From Pivotal:
      %ul
        %li
          %a Apps Manager (Product)
        %li
          %a Service Provision (Feature)
        %li
          %a Pivotal UI (Design System)

      %h3.em-high More Design:
      %ul
        %li
          %a My Design Career Path
        %li
          %a Hegemony of Space
        %li
          %a Flex Grid Lite
        %li
          %a America This Is Us
        %li
          %a Kessel Run
        %li
          %a Foldspace



  -# %section.md-col
  -#   %img.img-width{:src => "images/portfolio/apps-manager-1.png"}
