---
layout: "nofollow-layout"
title: Elliot Dahl
---

.page
  .page-frame
  -# .nav-wrapper
  -#   .nav-title.em-high Portfolio
  -#   %ul.list-unstyled
  -#     %li
  -#       %a{:href => "#product"} Product
  -#     %li
  -#       %a{:href => "#feature"} Feature
  -#     %li
  -#       %a{:href => "#design-system"} Design System
  -#   .nav-title.mtxl.em-high About Me
  -#   %ul.list-unstyled
  -#     %li
  -#       %a{:href => "#career"} My Career Path
  -#     %li
  -#       %a{:href => "#writing"} Writing
  -#     %li
  -#       %a{:href => "#projects"} Side Projects
  -#     %li
  -#       %a{:href => "#connections"} Connections
  .content-area

    %section.content
      .welcome
        %i Hello,
        %h1.shirkhand I'm Elliot
      %p
        I dream in
        = link_to("front-end code", "https://github.com/elliotdahl", target: '_blank') + ","
        obsess over
        = link_to("design systems", "https://medium.com/@Elliotdahl", target: '_blank') + ","
        and advocate for end-to-end UX. Currently designing developer experiences at
        = link_to("Pivotal Cloud Foundry", "http://pivotal.io", target: '_blank') + "."

      %p I spend the rest of my time drawing spaceships, backpacking Northern California, and reading science fiction.
      .draw-box Draw Box
    =partial 'shared/product'
    =partial 'shared/feature'
    =partial 'shared/design-system'
    =partial 'shared/career'
    =partial 'shared/writing'
    =partial 'shared/projects'




  -# %section.md-col
  -#   %img.img-width{:src => "images/portfolio/apps-manager-1.png"}

//Google Analytics In Footer
=partial 'shared/footer'
